<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method:  :delete,
                                     confirm: "You sure?",
                                     title:   micropost.content %>
  <% end %>

  <h2>Offers</h2>
  
    <% micropost.comments.each, :html => { :id => "blah_loop"}, do |comment| %>
   
       <div class="box">
         <b>Vendor:</b>
         <%= comment.commenter %><br>
         <b>Deal:</b>
         <%= comment.body %>
       </div>

    <% end %>
  

  <h4>Suggest an Offer:</h4>
  <%= form_for([micropost, micropost.comments.build], :html => { :id => "blah_form" }) do |f| %>
  
    <div class="field">
      <p2>Who are you?</p2>
      <%= f.text_field :commenter %>
    </div>
    <div class="field">
      <p2>What deal are you offering?</p2>
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit "Submit"%>
    </div>
  <% end %>
</li>
